<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HWiNFO_Transfer_to_LCD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <HWiNFO_Transfer_to_LCD.Properties.Settings>
            <setting name="HWiNFO_PROCCESS_NAME" serializeAs="String">
                <value>HWiNFO64</value>
            </setting>
            <setting name="SysLogSourceName" serializeAs="String">
                <value>HWiNFOTransferToLCD</value>
            </setting>
            <setting name="SysLogName" serializeAs="String">
                <value>HWiNFO Transfer</value>
            </setting>
            <setting name="SerialPortName" serializeAs="String">
                <value>COM5</value>
            </setting>
            <setting name="SerialPortSpeed" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="CPUPackageTempID" serializeAs="String">
                <value>16777470</value>
            </setting>
            <setting name="CPUPackageTempIndex" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="TotalCPUUsageID" serializeAs="String">
                <value>117440529</value>
            </setting>
            <setting name="TotalCPUUsageIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CPUPackagePowerID" serializeAs="String">
                <value>83886080</value>
            </setting>
            <setting name="CPUPackagePowerIndex" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="CPUFanID" serializeAs="String">
                <value>50331651</value>
            </setting>
            <setting name="CPUFanIndex" serializeAs="String">
                <value>19</value>
            </setting>
            <setting name="GPUIndex" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="GPUTempID" serializeAs="String">
                <value>16777216</value>
            </setting>
            <setting name="GPUCoreLoadID" serializeAs="String">
                <value>117440512</value>
            </setting>
            <setting name="GPUMemoryUsageID" serializeAs="String">
                <value>117440520</value>
            </setting>
            <setting name="GPUPowerID" serializeAs="String">
                <value>83886080</value>
            </setting>
            <setting name="GPUFanID" serializeAs="String">
                <value>50331648</value>
            </setting>
            <setting name="MemoryUsageID" serializeAs="String">
                <value>134217733</value>
            </setting>
            <setting name="MemoryUsageIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DIMM_0_TemperatureID" serializeAs="String">
                <value>16777216</value>
            </setting>
            <setting name="DIMM_0_TemperatureIndex" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="DIMM_2_TemperatureID" serializeAs="String">
                <value>16777218</value>
            </setting>
            <setting name="DIMM_2_TemperatureIndex" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="PSUPowerEfficiencyID" serializeAs="String">
                <value>134217728</value>
            </setting>
            <setting name="PSUPowerEfficiencyIndex" serializeAs="String">
                <value>21</value>
            </setting>
            <setting name="PSUPowerID" serializeAs="String">
                <value>83886090</value>
            </setting>
            <setting name="PSUPowerIndex" serializeAs="String">
                <value>21</value>
            </setting>
            <setting name="PSUTemperatureID" serializeAs="String">
                <value>16777216</value>
            </setting>
            <setting name="PSUTemperatureIndex" serializeAs="String">
                <value>21</value>
            </setting>
            <setting name="DiskTempID" serializeAs="String">
                <value>16777216</value>
            </setting>
            <setting name="Disk1TempIndex" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="Disk2TempIndex" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="Disk3TempIndex" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="DiskReadID" serializeAs="String">
                <value>134217728</value>
            </setting>
            <setting name="DiskWriteID" serializeAs="String">
                <value>134217729</value>
            </setting>
            <setting name="Disk1SpeedID" serializeAs="String">
                <value>17</value>
            </setting>
            <setting name="Disk2SpeedID" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="Disk3SpeedID" serializeAs="String">
                <value>18</value>
            </setting>
        </HWiNFO_Transfer_to_LCD.Properties.Settings>
    </userSettings>
</configuration>